= content_for :title, (t'.change_your_password')

.container.grid.grid-3
  .column-2
    %h2.mb-6= t'.change_your_password'
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'grid gap-2' }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .col-12.field
        = f.label :password, t('.new_password')
        = f.password_field :password, autofocus: true, autocomplete: "new-password"
        - if @minimum_password_length
          %small= t'.minimum_password_length', count: @minimum_password_length
      .col-12.field
        = f.label :password_confirmation, t('.confirm_new_password')
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .col-12.mt-4
        = f.submit t('.change_my_password')
    = render "devise/shared/links"
