- content_for :title, 'Layout Title'

- content_for :breadcrumbs do
  %strong Teste

- content_for :actions do
  .left= link_to 'Left Action', '#'
  .center= link_to 'Center Action', '#'
  .right= link_to 'Right Action', '#'

- content_for :left_column do
  .top= link_to 'Top Left Column', '#'
  .bottom= link_to 'Bottom Left Column', '#'

- content_for :right_column do
  .top= link_to 'Top Right Column', '#'
  .bottom= link_to 'Bottom Right Column', '#'


- 1000.times do
  %p Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo Teste paragrafo

- content_for :footer do
  %span Genesis 2022