!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Genesis
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %header#header
      - if content_for? :left
        %toggle-button#btn-left.md-hidden{ target: 'left', mode: :toggle, 'hidden-class': 'sm-hidden', icon: :menu }
      = link_to root_url do
        = image_tag 'logo.svg', id: :logo
      - if content_for? :right
        %toggle-button#btn-right.md-hidden{ target: 'right', mode: :toggle, 'hidden-class': 'sm-hidden', icon: :menu }
      %nav#main-menu
        = link_to t(:home), root_url
        = link_to 'Link 1', root_url
        = link_to 'Link 2', root_url
      #profile


    - if content_for? :breadcrumbs
      %nav#breadcrumbs
        = link_to t(:home), root_url
        >
        = yield :breadcrumbs
    #messages
    - if content_for? :left
      #left.sm-hidden= yield :left
    %section#content= yield
    - if content_for? :right
      #right.sm-hidden= yield :right
    %footer#footer &copy;#{Date.today.year} - Francis Schiavo