!!!
%html
  %head
    %meta{ content: 'text/html;charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title Genesis
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body
    %header#header
      = link_to root_url do
        = image_tag 'logo.svg', id: :logo
      %nav#main-menu
      #profile
    #messages
    %section#content= yield
    %footer#footer &copy;#{Date.today.year} - Francis Schiavo
